<div class="jumbotron" id="titulo-home" style="margin-bottom:0rem">
    <h1 class="display-4" th:text="${mesNome}+' '+${ano}"></h1>
</div>

<div th:replace="~{views/navbar-meses}"></div>

<div th:fragment="cardsRegistros" id="registros" class="container-fluid">

    <div class="row">
    	<div class="col-12 col-xl-7 card-resumo" id="resumo" :key="resumoKey">
            <div th:replace="~{cards/card-resumo}"></div>
        </div>
        
   		<div class="col-12 col-xl row order-lg-first" id="col-registros"> 
		        <div  class="col-12 col-lg-6 col-xl-12" id="receitas" :key="receitasKey">
		            <div th:replace="~{cards/card-receitas}"></div>
		        </div>
		        
		    	<div class="col-12 col-lg-6 col-xl-12" id="despesas" :key="despesasKey">
		            <div th:replace="~{cards/card-despesas}"></div>
		        </div>
   		</div>
   </div>
</div>