<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<div th:replace="~{base :: head('Webapp Finanças Pessoais')}"></div>
	<script th:inline="javascript">
		ano = /*[[${ano}]]*/ 
		mes = /*[[${mes}]]*/
		mesAnteriorUrl = /*[[${mesAnteriorUrl}]]*/
		proximoMesUrl = /*[[${proximoMesUrl}]]*/
		mesAnteriorNome = /*[[${mesAnteriorNome}]]*/
		proximoMesNome = /*[[${proximoMesNome}]]*/
		titulo = /*[[${titulo}]]*/
		mesNome = /*[[${mesNome}]]*/
		listaMeses = /*[[${listaMeses}]]*/
		listaAnos = /*[[${listaAnos}]]*/
		listaCategorias = /*[[${listaCategorias}]]*/
	</script>
</head>
<body onload="onLoad()">

    <div class="container-fluid" th:replace="~{base :: header}" }></div>
	<div  class="container-fluid" th:replace="~{views/homeView}"></div>
<!-- 	<div  class="container-fluid" th:replace="~{views/homeView}"></div> -->
		
	<script src="/js/main.js"></script>
</body>
</html>